.Carousel {
  flex: 1;
  margin-top: -40px
}

section {
  padding-top: 50px;
  padding-bottom: 100px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.img-fluid {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.Carousel-image {
  width: 100%;
  height: 650px;
}
