.Carousel-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

}

.Carousel-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
}

.Charts {
  margin-top: 4%;
  margin-bottom: 4%;
}

.Chart {
  width: 50%;
  background-color: red;
  margin: 2%;
}

.Card {
  display: flex;
  width: 100%;
  margin-bottom: 4%
}

.Card-Details {
  display: flex;
  flex-direction: column;
}

.Card-Media {
  width: 300px;
  height: 180px;
}
