.root {
    margin-left: 'auto';
    margin-right: 'auto';

}

.my-card {
    max-width: 350px;
}

.testCardMedia {
    height: 200px;
}

.header-class {
    width: 100%;
    padding-top: 1%;
}

.search-filter {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    margin-bottom: 2% !important;
    width: 60%;
}

.cssLabel {
    color: #000000 !important;
}

.icon{
    color: #000000;
    outline: none !important;
}

.highlight {
    background-color: #f48f42;
}
